* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E8F4FD; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px; 
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img{
    width: 70%;
}

h2 {
    font-size: 2rem;
    color: #4682B4; 
    margin-bottom: 20px;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #F6F8FA;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #4682B4; 
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5A9BCF; 
}

input:focus {
    border-color: #4682B4;
    outline: none;
}

.error-message {
    color: #fff;
    background-color: #f44336; 
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: none; 
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h2 {
        font-size: 1.8rem;
    }

    input {
        padding: 10px;
    }

    button {
        padding: 10px;
        font-size: 1rem;
    }
}
